@media screen {
	header {
    	align-content: center;
		gap: 0 1em;
		grid-template-areas:
		"svg h1 " 
		"svg h2";
		grid-column: 1; }
	body, header {
		align-items: center;
   		display: grid; }
	h1 {
		align-items: flex-end;
		font-size: 2.5em;
		grid-area: h1; }
	footer {
		align-self: end;
		flex-basis: 100%;
		grid-column: 1 / -1;
		grid-row: 3; }
	body {
		background-color: #cfe8d0;
		font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
		flex-wrap: wrap;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr auto 1fr;
		min-height: 100vh;
		padding: 0 2em; }
	nav a {
		border-color: transparent;
		border-style: dotted;
		border-width: 2px;
		display: block;
		padding: 1em 1.25em;
		text-decoration: none; }
	nav a:hover, nav a:focus-visible {
		border-color: #30430e;
		border-bottom-right-radius: 25px;
		border-top-left-radius: 25px; }
	body, h1, h2, nav a, main a, footer a {
		color: #30430e; }
	footer {
		display: flex; }
	svg {
		fill: #30430e;
		height: 100px;
		grid-area: svg;
		width: 100px; }
	header, nav, main {
		flex-basis: 50%;
		grid-row: 2;
		justify-self: center; }
	h2 {
		font-size: 1.25em;
		grid-area: h2; }
	dt, main a, footer a {
		font-weight: bold; }
	nav, main {
		grid-column: 2; }
	header, footer {
		justify-content: center; }
	ul {
		list-style-type: none;
		padding-left: unset; }
	body, h1, h2 {
		margin: unset; }
	dd {
		margin-left: unset; }
	nav a:focus-visible {
		outline: none; }
	footer p {
		padding-left: 1em;
    	padding-right: 1em; }
}
@media screen and (max-width: 1150px) {
	footer {
		align-self: center;
		margin-bottom: 1.5em; }
	body {
		display: flex;
		flex-direction: column; }
	header {
		margin-top: 2em; }
	nav a {
		max-width: 640px; }
}
@media screen and (max-width: 600px) {
	header {
		display:flex;
		flex-direction: column; }
}
@media screen and (max-width: 500px) {
	svg {
		height: 75px;
		width: 75px; }
	footer {
		flex-direction: column-reverse; }
	h1, h2, footer {
		text-align: center; }
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: #000000; }
	nav a:hover {
		border-color: #cfe8d0; }
	body, h1, h2, nav a, main a, footer a {
		color: #cfe8d0; }
	svg path {
		fill: #cfe8d0; }
}
@media print {
	nav a {
		color: #000000;
		display: block;
		margin-bottom: 1em;
		text-decoration: none; }
	nav a:after {
		content: "Website: " attr(href); }
	footer p {
		display: inline-block; }
	svg {
		display: none; }
	body {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif; }
	dt {
		font-weight: bold; }
	dd {
		margin-bottom: 0.5em;
		margin-left: unset; }
}
@media (prefers-reduced-motion: reduce), (update: slow) {
	*:not(.safe-animation),
	*:not(.safe-animation)::before,
	*:not(.safe-animation)::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-delay: -1ms !important;
		transition-duration: 1ms !important; }
}